swagger: "2.0"
info:
  version: "1.2"
  title: "Documentação do Novo Web Service SIORG"
  description: "# 1. Informações gerais sobre o serviço\n## 1.1 Objetivo\n Descrever novos serviços para o SIORG\n 
                ## 1.5 Gestor do serviço\n
                Coordenação – Geral de Gestão do Desenvolvimento e Manutenção de Sistemas –
                CGDMS/DESIN/SEGEP/MP\n
                Contato: cgdms.segep@planejamento.gov.br\n
                ## 1.6 Responsável técnico\n
                Coordenação – Geral de Gestão do Desenvolvimento e Manutenção de Sistemas –
                CGDMS/DESIN/SEGEP/MP\n
                Contato: cgdms.segep@planejamento.gov.br\n"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "estruturaorganizacional.dados.gov.br"
basePath: "/doc"
tags:
- name: "Consulta Estrutura Organizacional"
  description: "Retorna os dados de todas as unidades da estrutura organizacional do governo."
- name: "Consulta Orgãos e Entidades"
  description: "Retorna os dados de todos as unidades organizacionais que tem o tipo órgão ou entidade
de acordo com os parâmetros."
- name: "Consultar Unidade Organizacional"
  description: "Retorna os dados da Unidade Organizacional"
schemes:
- "http"
paths:
  /estrutura-organizacional:
    get:
      tags:
      - "Consulta Estrutura Organizacional"
      summary: "Consulta Estrutura Organizacional Resumida"
      description: "Retorna os dados resumidos de todas as unidades da estrutura organizacional do governo. Esse
                    serviço retorna toda a estrutura do governo de forma resumida.
                    Caso seja utilizado o “CodigoUnidade” retorna os dados resumidos de um órgão ou entidade do
                    governo. Todas as unidades organizacionais do órgão ou entidade são retornados. Se desejar que os
                    órgãos e entidades vinculadas sejam retornadas deve-se informar no parâmetro de
                    “RetornarOrgaoEntidadeVinculados” em conjunto com o “CodigoUnidade” e todas as unidades
                    organizacionais dos órgãos e entidades vinculadas são retornados também. Se for passado
                    “RetornarOrgaoEntidadeVinculados” deve-se passar o parâmetro de “CodigoUnidade” também."
      operationId: "EstruturaOrganizacionalResumida"
      produces:
      - "application/xml"
      - "application/json"
      - "application/wsdl"
      parameters:
        - in: "query"
          name: "CodigoPoder"
          description: "Código do Poder"
          type: "integer"
        - in: "query"
          name: "CodigoEsfera"
          description: "Código da Esfera"
          type: "integer"
        - in: "query"
          name: "CodigoUnidade"
          description: "Código da Unidade Organizacional somente do tipo Órgão ou Entidade"
          type: "integer"      
        - in: "query"
          name: "RetornarOrgaoEntidadeVinculados"
          description: "Parâmetro para escolher **SIM** se
                        retorna os órgãos vinculados ou
                        **NAO** para não retornar. Caso o
                        parâmetro não seja informado o
                        resultado não retornará os órgãos e
                        entidades vinculadas."
          type: "string"
          enum: ["NAO" , "SIM"]  
      responses:
        200:
          description: OK
        102:
          description: CodigoUnidade não encontrado(a).
        104:
          description: Unidade organizacional deve ser um órgão ou entidade
  /estrutura-organizacional/completa:
      get:
        tags:
        - "Consulta Estrutura Organizacional"
        summary: "Consulta Estrutura Organizacional Completa"
        description: "Retorna os dados completos de todas as unidades da estrutura organizacional do governo. Esse
                      serviço retorna toda a estrutura do governo de forma completa.
                      Caso seja utilizado o “CodigoUnidade” retorna os dados completos de um órgão ou entidade do
                      governo. Todas as unidades organizacionais do órgão ou entidade são retornados. Se desejar que os
                      órgãos e entidades vinculadas sejam retornadas deve-se informar no parâmetro de
                      “RetornarOrgaoEntidadeVinculados” em conjunto com o “CodigoUnidade” e todas as unidadesMP
                      SEGEP
                      organizacionais dos órgãos e entidades vinculadas são retornados também. Se for passado
                      “RetornarOrgaoEntidadeVinculados” deve-se passar o parâmetro de “CodigoUnidade” também."
        operationId: "EstruturaOrganizacionalCompleta"
        produces:
          - "application/xml"
          - "application/json"
          - "application/wsdl"
        parameters:
        - in: "query"
          name: "CodigoPoder"
          description: "Código do Poder"
          type: "integer"
        - in: "query"
          name: "CodigoEsfera"
          description: "Código da Esfera"
          type: "integer"
        - in: "query"
          name: "CodigoUnidade"
          description: "Código da Unidade Organizacional somente do tipo Órgão ou Entidade"
          type: "integer"      
        - in: "query"
          name: "RetornarOrgaoEntidadeVinculados"
          description: "Parâmetro para escolher **SIM** se
                        retorna os órgãos vinculados ou
                        **NAO** para não retornar. Caso o
                        parâmetro não seja informado o
                        resultado não retornará os órgãos e
                        entidades vinculadas."
          type: "string"
          enum: ["NAO" , "SIM"]     
        responses:
          200:
            description: OK
          102:
            description: CodigoUnidade não encontrado(a).
          104:
            description: Unidade organizacional deve ser um órgão ou entidade 2.2.3.4 URIs exemplificativas
  /orgao-entidade:
      get:
        tags:
        - "Consulta Orgãos e Entidades"
        summary: "Consulta Orgãos e Entidades Resumida"
        description: "Retorna os dados resumidos de todos as unidades organizacionais que tem o tipo órgão ou entidade
                      de acordo com os parâmetros. Esse serviço não retorna outras unidades organizacionais que não sejam
                      do tipo órgão ou entidade. Caso um órgão ou entidade esteja vinculada a uma unidade organizacional
                      com tipo diferente de 'Órgão' ou 'Entidade' essa unidade estará no resultado apenas para manter a
                      estrutura organizacional correta do órgão."
        operationId: "EstruturaOrganizacionalCompleta"
        produces:
          - "application/xml"
          - "application/json"
          - "application/wsdl"
        parameters:
        - in: "query"
          name: "CodigoPoder"
          description: "Código do Poder"
          type: "integer"
        - in: "query"
          name: "CodigoEsfera"
          description: "Código da Esfera"
          type: "integer"
        responses:
          200:
            description: OK