swagger: "2.0"
info:
  version: "1.2"
  title: "Documentação da API do SIORG"
  description: >
                # 1. Informações gerais sobre o serviço
                
                ## 1.1 Objetivo
                
                Descrever novos serviços para o SIORG 
                
                ![Diagrama Entidade-Relacional dos dados da API](https://raw.githubusercontent.com/economiagovbr/Siorg-API-doc/80b2c208b9ed429695a6e3d6fef890b66bf267b6/assets/Modelagem.jpg)
                
                ## 1.5 Gestor do serviço

                Coordenação – Geral de Gestão do Desenvolvimento e Manutenção de Sistemas – CGDMS/DESIN/SEGEP/MP
                
                Contato: cgdms.segep@planejamento.gov.br
                
                ## 1.6 Responsável técnico

                Coordenação – Geral de Gestão do Desenvolvimento e Manutenção de Sistemas – CGDMS/DESIN/SEGEP/MP
                
                Contato: cgdms.segep@planejamento.gov.br
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "estruturaorganizacional.dados.gov.br"
basePath: "/doc"
tags:
- name: "Consulta dados dos Órgãos"
  description: > 
              [Incluir descrição melhor]
- name: "Dimensões das Unidades Organizacionais" 
- name: "Consultas de Histórico" 
schemes:
- "http"
paths:



  /estrutura-organizacional:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Estrutura Organizacional Resumida"
      description: >- 
                    Retorna os *dados resumidos* de todas as **unidades organizacionais** do governo. Esse
                    serviço retorna toda a estrutura do governo de forma resumida.
                    Caso seja utilizado o “CodigoUnidade” retorna os dados resumidos de um órgão ou entidade do
                    governo. Todas as unidades organizacionais do órgão ou entidade são retornados. Se desejar que os
                    órgãos e entidades vinculadas sejam retornadas deve-se informar no parâmetro de
                    “RetornarOrgaoEntidadeVinculados” em conjunto com o “CodigoUnidade” e todas as unidades
                    organizacionais dos órgãos e entidades vinculadas são retornados também. Se for passado
                    “RetornarOrgaoEntidadeVinculados” deve-se passar o parâmetro de “CodigoUnidade” também.
      operationId: "EstruturaOrganizacionalResumida"
      produces:
      - "application/xml"
      - "application/json"
      - "application/wsdl"
      parameters:
        - in: "query"
          name: "CodigoPoder"
          description: "Código do Poder"
          type: "integer"
        - in: "query"
          name: "CodigoEsfera"
          description: "Código da Esfera"
          type: "integer"
        - in: "query"
          name: "CodigoUnidade"
          description: "Código da Unidade Organizacional somente do tipo Órgão ou Entidade"
          type: "integer"      
        - in: "query"
          name: "RetornarOrgaoEntidadeVinculados"
          description: "Parâmetro para escolher **SIM** se
                        retorna os órgãos vinculados ou
                        **NAO** para não retornar. Caso o
                        parâmetro não seja informado o
                        resultado não retornará os órgãos e
                        entidades vinculadas."
          type: "string"
          enum: ["NAO" , "SIM"]  
      responses:
        200:
          description: OK
        102:
          description: CodigoUnidade não encontrado(a).
        104:
          description: Unidade organizacional deve ser um órgão ou entidade




  /estrutura-organizacional/completa:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Estrutura Organizacional Completa"
      description: "Retorna os dados completos de todas as unidades da estrutura organizacional do governo. Esse
                    serviço retorna toda a estrutura do governo de forma completa.
                    Caso seja utilizado o “CodigoUnidade” retorna os dados completos de um órgão ou entidade do
                    governo. Todas as unidades organizacionais do órgão ou entidade são retornados. Se desejar que os
                    órgãos e entidades vinculadas sejam retornadas deve-se informar no parâmetro de
                    “RetornarOrgaoEntidadeVinculados” em conjunto com o “CodigoUnidade” e todas as unidadesMP
                    SEGEP
                    organizacionais dos órgãos e entidades vinculadas são retornados também. Se for passado
                    “RetornarOrgaoEntidadeVinculados” deve-se passar o parâmetro de “CodigoUnidade” também."
      operationId: "EstruturaOrganizacionalCompleta"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "CodigoPoder"
        description: "Código do Poder"
        type: "integer"
      - in: "query"
        name: "CodigoEsfera"
        description: "Código da Esfera"
        type: "integer"
      - in: "query"
        name: "CodigoUnidade"
        description: "Código da Unidade Organizacional somente do tipo Órgão ou Entidade"
        type: "integer"      
      - in: "query"
        name: "RetornarOrgaoEntidadeVinculados"
        description: "Parâmetro para escolher **SIM** se
                      retorna os órgãos vinculados ou
                      **NAO** para não retornar. Caso o
                      parâmetro não seja informado o
                      resultado não retornará os órgãos e
                      entidades vinculadas."
        type: "string"
        enum: ["NAO" , "SIM"]     
      responses:
        200:
          description: OK
        102:
          description: CodigoUnidade não encontrado(a).
        104:
          description: Unidade organizacional deve ser um órgão ou entidade 2.2.3.4 URIs exemplificativas
  

  /estrutura-organizacional/{codigoUnidade}/filha:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Estrutura Organizacional Filha"
      operationId: "EstruturaOrganizacionalFilha"
      description: "Retorna o primeiro nível abaixo da estrutura organizacional de uma unidade organizacional. Se
                escolher retornar órgão e entidades vinculadas retorna as unidades organizacionais filhas e o topo do
                órgão e entidade vinculados."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
      - in: "query"
        name: "retornarOrgaoEntidadeVinculados"
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).
          

  /orgao-entidade:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Orgãos e Entidades Resumida"
      description: "Retorna os dados resumidos de todos as unidades organizacionais que tem o tipo órgão ou entidade
                    de acordo com os parâmetros. Esse serviço não retorna outras unidades organizacionais que não sejam
                    do tipo órgão ou entidade. Caso um órgão ou entidade esteja vinculada a uma unidade organizacional
                    com tipo diferente de 'Órgão' ou 'Entidade' essa unidade estará no resultado apenas para manter a
                    estrutura organizacional correta do órgão."
      operationId: "OrgaosEntidadesResumida"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "CodigoPoder"
        description: "Código do Poder"
        type: "integer"
      - in: "query"
        name: "CodigoEsfera"
        description: "Código da Esfera"
        type: "integer"
      responses:
        200:
          description: OK




  /orgao-entidade/completa:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Órgãos e Entidades Completo"
      description: "Retorna os dados completos de todos as unidades organizacionais que tem o tipo órgão ou entidade
                    de acordo com os parâmetros. Esse serviço não retorna outras unidades organizacionais que não sejam
                    do tipo órgão ou entidade. Caso um órgão ou entidade esteja vinculada a uma unidade organizacional
                    com tipo diferente de 'Órgão' ou 'Entidade' essa unidade estará no resultado apenas para manter a
                    estrutura organizacional correta do órgão."
      operationId: "OrgaosEntidadesCompleta"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "CodigoPoder"
        description: "Código do Poder"
        type: "integer"
      - in: "query"
        name: "CodigoEsfera"
        description: "Código da Esfera"
        type: "integer"
      responses:
        200:
          description: OK




  /unidade-organizacional/{codigoUnidade}:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consultar Unidade Organizacional Resumida"
      description: "Retorna os dados resumidos da Unidade Organizacional. O serviço retorna somente os dados da
                    unidade organizacional passada como parâmetro. Essa unidade organizacionais pode ser de qualquer
                    tipo de unidade."
      operationId: "UnidadeOrganizacionalResumida"
      produces:
        - "application/xml"
        - "application/json"
        - "application/wsdl"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
      - in: "query"
        name: "versaoConsulta"
        description: "Versão específica da Unidade
                      Organizacional, se não informado
                      retorna versão atual da unidade."
        type: "string"
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).


          

  /unidade-organizacional/endereco-contato/{codigoUnidade}:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Endereço e Contato"
      operationId: "EnderecoContato"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).
        404:
          description: URL inválida ou não existente

  /unidade-organizacional/{codigoUnidade}/estrutura:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Estrutura Unidade Organizacional"
      operationId: "EstruturaUnidadeOrganizacional"
      description: "Retorna apenas a informação da hierarquia da estrutura abaixo da unidade organizacional
                pesquisada. Para descobrir o órgão topo de um “Poder” e “esfera” pode-se utilizar a consulta Consulta
                Estrutura Organizacional Resumida"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
      - in: "query"
        name: "versaoConsulta"
        description: "Versão específica da Unidade
                      Organizacional, se não informado
                      retorna versão atual da unidade."
        type: "string"
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).  



  /composicao-colegiado/{codigoUnidade}:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Integrantes Colegiado Resumido"
      operationId: "IntegranteColegiadoResumido"
      description: "Retorna os dados resumidos das unidades organizacionais ou não governamentais que compõem a
                    unidade colegiada. O código informado como parâmetro de entrada deve ser de uma unidade colegiada."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).



  /composicao-colegiado/{codigoUnidade}/completa:
    get:
      tags:
      - "Consulta dados dos Órgãos"
      summary: "Consulta Integrantes Colegiado Completo"
      operationId: "IntegranteColegiadoCompleto"
      description: "Retorna os dados completos das unidades organizacionais ou não governamentais que compõem a
                    unidade colegiada. O código informado como parâmetro de entrada deve ser de uma unidade colegiada."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).


  /natureza-juridica:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Natureza Jurídica"
      operationId: "NaturezaJuridica"
      description: "Retorna os tipos de Natureza Jurídica cadastradas no sistema. As naturezas são aquelas definidas no
                    Decreto-lei 200: administração direta, autarquia, fundação, empresa pública e sociedade de economia
                    mista."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente as naturezas
                      jurídicas ativas ou “NAO” para trazer todas as naturezas jurídicas. Se
                      não informado traz lista com todas."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: NaturezaJuridica não encontrado(a).

  /natureza-juridica/{codigoNaturezaJuridica}:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Natureza Jurídica"
      description: "Retorna o tipo especifico para a Natureza Jurídica cadastradas no sistema. As naturezas são aquelas definidas no
                    Decreto-lei 200: administração direta, autarquia, fundação, empresa pública e sociedade de economia
                    mista."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoNaturezaJuridica"
        type: "integer"
        description: "Código da Natureza Jurídica. Se não
                      informado retorna uma lista com
                      todas as naturezas jurídicas
                      cadastrados"
        required: true
        default: ''
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente as naturezas
                      jurídicas ativas ou “NAO” para trazer todas as naturezas jurídicas. Se
                      não informado traz lista com todas."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: NaturezaJuridica não encontrado(a).

  /subnatureza-juridica:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Subnatureza Jurídica"
      description: "Retorna as Subnaturezas Juridicas cadastradas no sistema. A Subnatureza é um detalhamento
                    opcional da Natureza."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "codigoNaturezaJuridica"
        description: "Código de Natureza Jurídica. Se
                      informado retorna uma lista com
                      todas as subnaturezas cadastrados
                      relacionadas a uma Natureza
                      Juridica."
        type: "integer"
        default: '' 
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente os tipos ativas ou
                      “NAO” para trazer todas as
                      subnaturezas jurídicas. Se não
                      informado traz lista com todos."
        type: "string"
        enum: ["NAO" , "SIM"]
      responses:
        200:
          description: OK
        102:
          description: Sub Natureza Jurídica não encontrado(a).
        103:
          description: Campo(s) Código inválido(s).

  /subnatureza-juridica/{codigoSubNaturezaJuridica}:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Subnatureza Jurídica"
      description: "Retorna a Subnatureza Juridica cadastrada no sistema. A Subnatureza é um detalhamento
                    opcional da Natureza."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "codigoNaturezaJuridica"
        description: "Código de Natureza Jurídica. Se
                      informado retorna uma lista com
                      todas as subnaturezas cadastrados
                      relacionadas a uma Natureza
                      Juridica."
        type: "integer"
        default: '' 
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente os tipos ativas ou
                      “NAO” para trazer todas as
                      subnaturezas jurídicas. Se não
                      informado traz lista com todos."
        type: "string"
        enum: ["NAO" , "SIM"]
      - in: "path"
        name: "codigoSubNaturezaJuridica"
        type: "integer"
        description: "Código de Subnatureza Jurídica. Se
                      não informado retorna uma lista com
                      todos as subnaturezas jurídicas
                      cadastrados"
        required: true
        default: '' 
      responses:
        200:
          description: OK
        102:
          description: Sub Natureza Jurídica não encontrado(a).
        103:
          description: Campo(s) Código inválido(s).


  /poder:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Poder"
      operationId: "Poder"
      description: "Retorna os tipos de Poder cadastrados no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente os poderes ativos ou
                      “NAO” para trazer todas os poderes.
                      Se não informado traz lista com todos."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Poder não encontrado(a).



  /poder/{codigoPoder}:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Poder"
      description: "Retorna o tipo de Poder cadastradas no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoPoder"
        type: "integer"
        description: "Código do Poder."
        required: true
        default: ''
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente os poderes ativos ou
                      “NAO” para trazer todas os poderes.
                      Se não informado traz lista com todos."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Poder não encontrado(a).

  /esfera:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Esfera"
      description: "Retorna os tipos de Esfera cadastradas no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente as esferas ativas ou
                      “NAO” para trazer todas as
                      esferas.Se não informado traz lista
                      com todas."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Esfera não encontrado(a).

  /esfera/{codigoEsfera}:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Esfera"
      operationId: "Esfera"
      description: "Retorna o tipo de Esfera cadastrada no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoEsfera"
        type: "integer"
        description: "Código da Esfera. Se não informado
                      retorna uma lista com todas as
                      naturezas jurídicas cadastrados"
        required: true
        default: ''
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente as esferas ativas ou
                      “NAO” para trazer todas as
                      esferas.Se não informado traz lista
                      com todas."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Esfera não encontrado(a).

  /tipo-unidade:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Tipo de Unidade Organizacional"
      description: "Retorna os Tipos de Unidade Organizacional cadastradas no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      responses:
        200:
          description: OK
        102:
          description: TipoUnidade não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).          


  /tipo-unidade/{codigoTipoUnidade}:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Tipo de Unidade Organizacional"
      operationId: "TipoUnidade"
      description: "Retorna o Tipo de Unidade Organizacional cadastrada no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoTipoUnidade"
        type: "integer"
        description: "CodigoTipoUnidade"
        required: true
        default: ''
      responses:
        200:
          description: OK
        102:
          description: TipoUnidade não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).          

  /categoria-unidade:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Categoria de Unidade Organizacional"
      operationId: "CategoriaUnidade"
      description: "Retorna as Categoria de Unidade Organizacional cadastradas no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente as esferas ativas ou
                      “NAO” para trazer todas as
                      esferas.Se não informado traz lista
                      com todas."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Categoria de Unidade não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).

  /categoria-unidade/{codigoCategoriaUnidade}:
    get:
      tags:
      - "Dimensões das Unidades Organizacionais"
      summary: "Consulta Categoria de Unidade Organizacional"
      description: "Retorna a Categoria de Unidade Organizacional cadastrada no sistema"
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoCategoriaUnidade"
        type: "integer"
        description: "Código de categoria de unidade
                      organizacional. Se não informado
                      retorna uma lista com todos as
                      categorias de unidade cadastrados"
        required: true
        default: ''
      - in: "query"
        name: "ativo"
        description: "Texto “SIM” para informar que
                      retorne somente as esferas ativas ou
                      “NAO” para trazer todas as
                      esferas.Se não informado traz lista
                      com todas."
        type: "string"
        enum: ["NAO" , "SIM"] 
      responses:
        200:
          description: OK
        102:
          description: Categoria de Unidade não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).

      
  /unidade-organizacional/{codigoUnidade}/versao:
    get:
      tags:
      - "Consultas de Histórico"
      summary: "Consulta Versão da Unidade Organizacional"
      operationId: "VersaoUnidade"
      description: "Retorna a versão anterior e posterior da versão informada da Unidade Organizacional. Se nenhuma
                    versão é informada retorna a atual no campo VersaoConsulta e a anterior no campo VersaoAnterior.
                    Caso seja informado a primeira versão do órgão ou entidade o valor de VersaoAnterior retornará vazio.
                    Caso seja informado a última versão do órgão ou entidade o valor de VersaoPosterior retornará vazio."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional"
        required: true
        default: ''
      - in: "query"
        name: "versaoConsulta"
        description: "Versão da Unidade Organizacional
                      de acordo com definido em
                      TipoVersao."
        type: "string"
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).



  /unidade-organizacional/{codigoUnidade}/alteradas:
    get:
      tags:
      - "Consultas de Histórico"
      summary: "Consulta Unidades Alteradas do Órgão"
      operationId: "UnidadesAlteradasOrgao"
      description: "Retorna uma lista de unidades organizacionais alteradas desde a versão passada. O CodigoUnidade
                    deve ser do tipo Órgão ou Entidade. O serviço retorna uma listagem de unidades resumidas da versão de
                    consulta até a versão atual."
      produces:
        - "application/json"
        - "application/xml"
        - "text/csv"
      parameters:
      - in: "path"
        name: "codigoUnidade"
        type: "integer"
        description: "Código da Unidade Organizacional o
                      código deve ser do tipo Órgão ou
                      Entidade"
        required: true
      - in: "query"
        name: "versaoConsulta"
        description: "Versão da Unidade Organizacional
                      de acordo com definido em
                      TipoVersao."
        type: "string"
      responses:
        200:
          description: OK
        102:
          description: Unidade Organizacional não encontrado(a).
        103:
          description: Campo(s) Versão inválido(s).
        104:
          description: Unidade organizacional deve ser um órgão ou entidade          