openapi: 3.0.1
info:
  title: Documentação da API do SIORG
  description: "# 1. Informações gerais sobre o serviço\n## 1.1 Objetivo\nDescrever\
    \ novos serviços para o SIORG \n![Diagrama Entidade-Relacional dos dados da API](https://raw.githubusercontent.com/economiagovbr/Siorg-API-doc/80b2c208b9ed429695a6e3d6fef890b66bf267b6/assets/Modelagem.jpg)\n\
    ## 1.5 Gestor do serviço\nCoordenação – Geral de Gestão do Desenvolvimento e Manutenç\
    ão de Sistemas – CGDMS/DESIN/SEGEP/MP\nContato: cgdms.segep@planejamento.gov.br\n\
    ## 1.6 Responsável técnico\nCoordenação – Geral de Gestão do Desenvolvimento e\
    \ Manutenção de Sistemas – CGDMS/DESIN/SEGEP/MP\nContato: cgdms.segep@planejamento.gov.br\n"
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: "1.2"
servers:
- url: https://estruturaorganizacional.dados.gov.br/doc
- url: http://estruturaorganizacional.dados.gov.br/doc
tags:
- name: Consulta dados dos Órgãos
  description: |
    [Incluir descrição melhor]
- name: Dimensões das Unidades Organizacionais
- name: Consultas de Histórico
paths:
  /estrutura-organizacional:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Estrutura Organizacional Resumida
      description: Retorna os *dados resumidos* de todas as **unidades organizacionais**
        do governo. Esse serviço retorna toda a estrutura do governo de forma resumida.
        Caso seja utilizado o “CodigoUnidade” retorna os dados resumidos de um órgão
        ou entidade do governo. Todas as unidades organizacionais do órgão ou entidade
        são retornados. Se desejar que os órgãos e entidades vinculadas sejam retornadas
        deve-se informar no parâmetro de “RetornarOrgaoEntidadeVinculados” em conjunto
        com o “CodigoUnidade” e todas as unidades organizacionais dos órgãos e entidades
        vinculadas são retornados também. Se for passado “RetornarOrgaoEntidadeVinculados”
        deve-se passar o parâmetro de “CodigoUnidade” também.
      operationId: EstruturaOrganizacionalResumida
      parameters:
      - name: CodigoPoder
        in: query
        description: Código do Poder
        schema:
          type: string
          default: 1
      - name: CodigoEsfera
        in: query
        description: Código da Esfera
        schema:
          type: string
          default: 1
      - name: CodigoUnidade
        in: query
        description: Código da Unidade Organizacional somente do tipo Órgão ou Entidade
        schema:
          type: string
          default: 244
      - name: RetornarOrgaoEntidadeVinculados
        in: query
        description: Parâmetro para escolher **SIM** se retorna os órgãos vinculados
          ou **NAO** para não retornar. Caso o parâmetro não seja informado o resultado
          não retornará os órgãos e entidades vinculadas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:  
            application/xml:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalResumida'     
            application/json:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalResumida'     

                    
        102:
          description: CodigoUnidade não encontrado(a).
          
        104:
          description: Unidade organizacional deve ser um órgão ou entidade
           
          
  /estrutura-organizacional/completa:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Estrutura Organizacional Completa
      description: Retorna os dados completos de todas as unidades da estrutura organizacional
        do governo. Esse serviço retorna toda a estrutura do governo de forma completa.
        Caso seja utilizado o “CodigoUnidade” retorna os dados completos de um órgão
        ou entidade do governo. Todas as unidades organizacionais do órgão ou entidade
        são retornados. Se desejar que os órgãos e entidades vinculadas sejam retornadas
        deve-se informar no parâmetro de “RetornarOrgaoEntidadeVinculados” em conjunto
        com o “CodigoUnidade” e todas as unidades organizacionais dos órgãos e entidades
        vinculadas são retornados também. Se for passado “RetornarOrgaoEntidadeVinculados”
        deve-se passar o parâmetro de “CodigoUnidade” também.
      operationId: EstruturaOrganizacionalCompleta
      parameters:
      - name: CodigoPoder
        in: query
        description: Código do Poder
        schema:
          type: string
          default: 1
      - name: CodigoEsfera
        in: query
        description: Código da Esfera
        schema:
          type: string
          default: 1
      - name: CodigoUnidade
        in: query
        description: Código da Unidade Organizacional somente do tipo Órgão ou Entidade
        schema:
          type: string
          default: 244
      - name: RetornarOrgaoEntidadeVinculados
        in: query
        description: Parâmetro para escolher **SIM** se retorna os órgãos vinculados
          ou **NAO** para não retornar. Caso o parâmetro não seja informado o resultado
          não retornará os órgãos e entidades vinculadas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:  
            application/xml:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalCompleta'     
            application/json:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalCompleta'     

        102:
          description: CodigoUnidade não encontrado(a).
          
        104:
          description: Unidade organizacional deve ser um órgão ou entidade 2.2.3.4
            URIs exemplificativas
          
  /estrutura-organizacional/{codigoUnidade}/filha:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Estrutura Organizacional Filha
      description: Retorna o primeiro nível abaixo da estrutura organizacional de
        uma unidade organizacional. Se escolher retornar órgão e entidades vinculadas
        retorna as unidades organizacionais filhas e o topo do órgão e entidade vinculados.
      operationId: EstruturaOrganizacionalFilha
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      - name: retornarOrgaoEntidadeVinculados
        in: query
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:  
            application/xml:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalFilha'     
            application/json:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalFilha'     

        102:
          description: Unidade Organizacional não encontrado(a).
          
          
  /orgao-entidade:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Orgãos e Entidades Resumida
      description: Retorna os dados resumidos de todos as unidades organizacionais
        que tem o tipo órgão ou entidade de acordo com os parâmetros. Esse serviço
        não retorna outras unidades organizacionais que não sejam do tipo órgão ou
        entidade. Caso um órgão ou entidade esteja vinculada a uma unidade organizacional
        com tipo diferente de 'Órgão' ou 'Entidade' essa unidade estará no resultado
        apenas para manter a estrutura organizacional correta do órgão.
      operationId: OrgaosEntidadesResumida
      parameters:
      - name: CodigoPoder
        in: query
        description: Código do Poder
        schema:
          type: string
          default: 1
      - name: CodigoEsfera
        in: query
        description: Código da Esfera
        schema:
          type: string
          default: 1
      responses:
        200:
          description: OK
          content:  
            application/xml:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarOrgaosEntidadesResumida'     
            application/json:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarOrgaosEntidadesResumida'     
 
          
  /orgao-entidade/completa:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Órgãos e Entidades Completo
      description: Retorna os dados completos de todos as unidades organizacionais
        que tem o tipo órgão ou entidade de acordo com os parâmetros. Esse serviço
        não retorna outras unidades organizacionais que não sejam do tipo órgão ou
        entidade. Caso um órgão ou entidade esteja vinculada a uma unidade organizacional
        com tipo diferente de 'Órgão' ou 'Entidade' essa unidade estará no resultado
        apenas para manter a estrutura organizacional correta do órgão.
      operationId: OrgaosEntidadesCompleta
      parameters:
      - name: CodigoPoder
        in: query
        description: Código do Poder
        schema:
          type: string
          default: 1
      - name: CodigoEsfera
        in: query
        description: Código da Esfera
        schema:
          type: string
          default: 1
      responses:
        200:
          description: OK
          content:  
            application/xml:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarOrgaosEntidadesResumida'     
            application/json:  
              schema:
                $ref: '#/components/schemas/ResultadoConsultarOrgaosEntidadesResumida'     
 
          
  /unidade-organizacional/{codigoUnidade}:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consultar Unidade Organizacional Resumida
      description: Retorna os dados resumidos da Unidade Organizacional. O serviço
        retorna somente os dados da unidade organizacional passada como parâmetro.
        Essa unidade organizacionais pode ser de qualquer tipo de unidade.
      operationId: UnidadeOrganizacionalResumida
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      - name: versaoConsulta
        in: query
        description: Versão específica da Unidade Organizacional, se não informado
          retorna versão atual da unidade.
        schema:
          type: string
          default: 125.0.0
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarUnidadeResumida'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarUnidadeResumida'
        102:
          description: Unidade Organizacional não encontrado(a).
          
          
  /unidade-organizacional/endereco-contato/{codigoUnidade}:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Endereço e Contato
      operationId: EnderecoContato
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: object
            application/json:
              schema:
                type: object 

        102:
          description: Unidade Organizacional não encontrado(a).
          
        404:
          description: URL inválida ou não existente
          
  /unidade-organizacional/{codigoUnidade}/estrutura:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Estrutura Unidade Organizacional
      description: Retorna apenas a informação da hierarquia da estrutura abaixo da
        unidade organizacional pesquisada. Para descobrir o órgão topo de um “Poder”
        e “esfera” pode-se utilizar a consulta Consulta Estrutura Organizacional Resumida
      operationId: EstruturaUnidadeOrganizacional
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      - name: versaoConsulta
        in: query
        description: Versão específica da Unidade Organizacional, se não informado
          retorna versão atual da unidade.
        schema:
          type: string
          default: 125.0.0
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaUnidadeOrganizacional'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEstruturaUnidadeOrganizacional'

        102:
          description: Unidade Organizacional não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).
          
          
  /composicao-colegiado/{codigoUnidade}:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Integrantes Colegiado Resumido
      description: Retorna os dados resumidos das unidades organizacionais ou não
        governamentais que compõem a unidade colegiada. O código informado como parâmetro
        de entrada deve ser de uma unidade colegiada.
      operationId: IntegranteColegiadoResumido
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: object
            application/json:
              schema:
                type: object 

        102:
          description: Unidade Organizacional não encontrado(a).

          
  /composicao-colegiado/{codigoUnidade}/completa:
    get:
      tags:
      - Consulta dados dos Órgãos
      summary: Consulta Integrantes Colegiado Completo
      description: Retorna os dados completos das unidades organizacionais ou não
        governamentais que compõem a unidade colegiada. O código informado como parâmetro
        de entrada deve ser de uma unidade colegiada.
      operationId: IntegranteColegiadoCompleto
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                type: object
            application/json:
              schema:
                type: object 

        102:
          description: Unidade Organizacional não encontrado(a).

          
  /natureza-juridica:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Natureza Jurídica
      description: 'Retorna os tipos de Natureza Jurídica cadastradas no sistema.
        As naturezas são aquelas definidas no Decreto-lei 200: administração direta,
        autarquia, fundação, empresa pública e sociedade de economia mista.'
      operationId: NaturezaJuridica
      parameters:
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente as naturezas jurídicas
          ativas ou “NAO” para trazer todas as naturezas jurídicas. Se não informado
          traz lista com todas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref:  '#/components/schemas/ResultadoConsultarNaturezaJuridica'
            application/json:
              schema:
                $ref:  '#/components/schemas/ResultadoConsultarNaturezaJuridica' 

        102:
          description: NaturezaJuridica não encontrado(a).
          
          
  /natureza-juridica/{codigoNaturezaJuridica}:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Natureza Jurídica
      description: 'Retorna um tipo especifico para a Natureza Jurídica cadastradas
        no sistema. As naturezas são aquelas definidas no Decreto-lei 200: administração
        direta, autarquia, fundação, empresa pública e sociedade de economia mista.'
      parameters:
      - name: codigoNaturezaJuridica
        in: path
        description: Código da Natureza Jurídica. Se não informado retorna uma lista
          com todas as naturezas jurídicas cadastrados
        required: true
        schema:
          type: string
          default: 3
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente as naturezas jurídicas
          ativas ou “NAO” para trazer todas as naturezas jurídicas. Se não informado
          traz lista com todas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref:  '#/components/schemas/ResultadoConsultarNaturezaJuridica'
            application/json:
              schema:
                $ref:  '#/components/schemas/ResultadoConsultarNaturezaJuridica' 

        102:
          description: NaturezaJuridica não encontrado(a).
          
          
  /subnatureza-juridica:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Subnatureza Jurídica
      description: Retorna as Subnaturezas Juridicas cadastradas no sistema. A Subnatureza
        é um detalhamento opcional da Natureza.
      parameters:
      - name: codigoNaturezaJuridica
        in: query
        description: Código de Natureza Jurídica. Se informado retorna uma lista com
          todas as subnaturezas cadastrados relacionadas a uma Natureza Juridica.
        schema:
          type: string
          default: 3
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente os tipos ativas
          ou “NAO” para trazer todas as subnaturezas jurídicas. Se não informado traz
          lista com todos.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarSubNaturezaJuridica'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarSubNaturezaJuridica'

        102:
          description: Sub Natureza Jurídica não encontrado(a).
          
        103:
          description: Campo(s) Código inválido(s).

          
  /subnatureza-juridica/{codigoSubNaturezaJuridica}:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Subnatureza Jurídica
      description: Retorna uma Subnatureza Juridica cadastrada no sistema. A Subnatureza
        é um detalhamento opcional da Natureza.
      parameters:
      - name: codigoNaturezaJuridica
        in: query
        description: Código de Natureza Jurídica. Se informado retorna uma lista com
          todas as subnaturezas cadastrados relacionadas a uma Natureza Juridica.
        schema:
          type: string
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente os tipos ativas
          ou “NAO” para trazer todas as subnaturezas jurídicas. Se não informado traz
          lista com todos.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      - name: codigoSubNaturezaJuridica
        in: path
        description: Código de Subnatureza Jurídica. Se não informado retorna uma
          lista com todos as subnaturezas jurídicas cadastrados
        required: true
        schema:
          type: string
          default: 16
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarSubNaturezaJuridica'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarSubNaturezaJuridica'

        102:
          description: Sub Natureza Jurídica não encontrado(a).
          
        103:
          description: Campo(s) Código inválido(s).

          
  /poder:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Poder
      description: 'Retorna os tipos de Poder cadastrados no sistema '
      operationId: Poder
      parameters:
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente os poderes ativos
          ou “NAO” para trazer todas os poderes. Se não informado traz lista com todos.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarPoder'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarPoder'

        102:
          description: Poder não encontrado(a).
          
          
  /poder/{codigoPoder}:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Poder
      description: Retorna um tipo de Poder cadastradas no sistema
      parameters:
      - name: codigoPoder
        in: path
        description: Código do Poder.
        required: true
        schema:
          type: string
          default: 1
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente os poderes ativos
          ou “NAO” para trazer todas os poderes. Se não informado traz lista com todos.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarPoder'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarPoder'

        102:
          description: Poder não encontrado(a).
          
          
  /esfera:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Esfera
      description: Retorna os tipos de Esfera cadastradas no sistema
      parameters:
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente as esferas ativas
          ou “NAO” para trazer todas as esferas.Se não informado traz lista com todas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEsfera'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEsfera'

        102:
          description: Esfera não encontrado(a).
          
          
  /esfera/{codigoEsfera}:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Esfera
      description: Retorna um tipo de Esfera cadastrada no sistema
      operationId: Esfera
      parameters:
      - name: codigoEsfera
        in: path
        description: Código da Esfera. Se não informado retorna uma lista com todas
          as naturezas jurídicas cadastrados
        required: true
        schema:
          type: string
          default: 1
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente as esferas ativas
          ou “NAO” para trazer todas as esferas.Se não informado traz lista com todas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEsfera'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarEsfera'

        102:
          description: Esfera não encontrado(a).

          
  /tipo-unidade:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Tipo de Unidade Organizacional
      description: Retorna os Tipos de Unidade Organizacional cadastradas no sistema
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarTipoUnidade'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarTipoUnidade'

        102:
          description: TipoUnidade não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).
          
          
  /tipo-unidade/{codigoTipoUnidade}:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Tipo de Unidade Organizacional
      description: Retorna um Tipo de Unidade Organizacional cadastrada no sistema
      operationId: TipoUnidade
      parameters:
      - name: codigoTipoUnidade
        in: path
        description: CodigoTipoUnidade
        required: true
        schema:
          type: string
          default: OR
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarTipoUnidade'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarTipoUnidade'

        102:
          description: TipoUnidade não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).
          

          
  /categoria-unidade:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Categoria de Unidade Organizacional
      description: Retorna as Categoria de Unidade Organizacional cadastradas no sistema
      operationId: CategoriaUnidade
      parameters:
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente as esferas ativas
          ou “NAO” para trazer todas as esferas.Se não informado traz lista com todas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarCategoriaUnidade'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarCategoriaUnidade'

        102:
          description: Categoria de Unidade não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).
          
          
  /categoria-unidade/{codigoCategoriaUnidade}:
    get:
      tags:
      - Dimensões das Unidades Organizacionais
      summary: Consulta Categoria de Unidade Organizacional
      description: Retorna uma Categoria de Unidade Organizacional cadastrada no sistema
      parameters:
      - name: codigoCategoriaUnidade
        in: path
        description: Código de categoria de unidade organizacional. Se não informado
          retorna uma lista com todos as categorias de unidade cadastrados
        required: true
        schema:
          type: string
          default: 63
      - name: ativo
        in: query
        description: Texto “SIM” para informar que retorne somente as esferas ativas
          ou “NAO” para trazer todas as esferas.Se não informado traz lista com todas.
        schema:
          type: string
          enum:
          - NAO
          - SIM
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarCategoriaUnidade'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarCategoriaUnidade'   

        102:
          description: Categoria de Unidade não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).
          
          
  /unidade-organizacional/{codigoUnidade}/versao:
    get:
      tags:
      - Consultas de Histórico
      summary: Consulta Versão da Unidade Organizacional
      description: Retorna a versão anterior e posterior da versão informada da Unidade
        Organizacional. Se nenhuma versão é informada retorna a atual no campo VersaoConsulta
        e a anterior no campo VersaoAnterior. Caso seja informado a primeira versão
        do órgão ou entidade o valor de VersaoAnterior retornará vazio. Caso seja
        informado a última versão do órgão ou entidade o valor de VersaoPosterior
        retornará vazio.
      operationId: VersaoUnidade
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional
        required: true
        schema:
          type: string
          default: 244
      - name: versaoConsulta
        in: query
        description: Versão da Unidade Organizacional de acordo com definido em TipoVersao.
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarVersaoUnidade'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultadoConsultarVersaoUnidade'

        102:
          description: Unidade Organizacional não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).

          
  /unidade-organizacional/{codigoUnidade}/alteradas:
    get:
      tags:
      - Consultas de Histórico
      summary: Consulta Unidades Alteradas do Órgão
      description: Retorna uma lista de unidades organizacionais alteradas desde a
        versão passada. O CodigoUnidade deve ser do tipo Órgão ou Entidade. O serviço
        retorna uma listagem de unidades resumidas da versão de consulta até a versão
        atual.
      operationId: UnidadesAlteradasOrgao
      parameters:
      - name: codigoUnidade
        in: path
        description: Código da Unidade Organizacional o código deve ser do tipo Órgão
          ou Entidade
        required: true
        schema:
          type: string
          default: 244
      - name: versaoConsulta
        in: query
        description: Versão da Unidade Organizacional de acordo com definido em TipoVersao.
        schema:
          type: string
          default: 124.0.0
      responses:
        200:
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/resultadoConsultarUnidadesAlteradasOrgao'
            application/json:
              schema:
                $ref: '#/components/schemas/resultadoConsultarUnidadesAlteradasOrgao'

        102:
          description: Unidade Organizacional não encontrado(a).
          
        103:
          description: Campo(s) Versão inválido(s).
          
        104:
          description: Unidade organizacional deve ser um órgão ou entidade


components:
  schemas:
    Servico:
      type: object
      properties:
        codigoErro:
          type: integer
          format: int64
        mensagem:
          type: string
        data:
          type: string 
        versaoServico:
          type: string
        ipRequisitante:
          type: string
        ticket: 
          type: string
      xml:
        name: Servico

    Unidade:
      type: object
      properties:
        codigoUnidade:
          type: string
        codigoUnidadePai:
          type: string
        codigoOrgaoEntidade:
          type: string
        codigoTipoUnidade:
          type: string
        nome:
          type: string
        sigla:
          type: string
        codigoEsfera:
          type: string
        codigoPoder:
          type: string
        codigoNaturezaJuridica:
          type: string
        codigoSubNaturezaJuridica:
          type: string
        nivelNormatizacao:
          type: string
        versaoConsulta:
          type: string
        dataInicialVersaoConsulta:
          type: string
        dataFinalVersaoConsulta:
          type: string
        operacao:
          type: string
      xml:
        name: Unidade

    Contato:
      type: object
      properties:
        telefone:
          type: array
          items: string
        email:
          type: array
          items: string
        site:
          type: array
          items:
            $ref: '#/components/schemas/Site'
          
    Site:
      type: object
      properties:
        tipo:
          type: string
        site:
          type: string
        outroTipoSite:
          type:
            string

    SubNaturezaJuridica:
      type: object
      properties:
        codigoNaturezaJuridica: 
          type: string
        codigoSubNaturezaJuridica:
          type: integer
        descricaoSubNaturezaJuridica:
          type: string
        ativo:
          type: string

    Endereco:
        type: object
        properties:
          logradouro:   
            type: string
          numero:   
            type: string
          complemento:    
            type: string
          bairro:   
            type: string 
          cep:    
            type: string 
          uf:   
            type: string 
          municipio:    
            type: string 
          pais:   
            type: string 
          tipoEndereco:   
            type: string 
          horarioDeFuncionamento:   
            type: string 

    UnidadeCompleta:
      type: object
      properties:
        UnidadeCompleta:
          $ref: '#/components/schemas/Unidade'
          regulamentoEspecifico:
            type: string
          codigoCategoriaUnidade:
            type: string
          competencia:
            type: string
          finalidade:
            type: string
          missao:
            type: string
          descricaoAtoNormativo:
            type: string
          contato:
            type: array
            items: 
              $ref: '#/components/schemas/Contato'
          areaAtuacao:
            type: string
          atoNormativo:
            type: object
            properties:
              $ref: '#/components/schemas/AtoNormativo'
          endereco:
            type: array
            items: 
              $ref: '#/components/schemas/Endereco'
      xml:
        name: UnidadeCompleta


    AtoNormativo:
      type: object
      properties:
        tipoAto:  
          type: string
        codigoUnidade:   
          type: string
        numero:  
          type: string
        dataAssinatura:  
          type: string
        dataPublicacao:  
          type: string
        ementa:  
          type: string
        url:   
          type: string


        
    ResultadoConsultarEstruturaOrganizacionalResumida:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        unidades:
          type: array
          items:
            $ref: '#/components/schemas/Unidade'
      xml:
        name: resultadoConsultarEstruturaOrganizacionalResumida    

    ResultadoConsultarEstruturaOrganizacionalCompleta:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        unidade:
          type: array
          items:
            $ref: '#/components/schemas/UnidadeCompleta'
      xml:
        name: resultadoConsultarEstruturaOrganizacionalCompleta

    ResultadoConsultarEstruturaOrganizacionalFilha:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        unidade:
          type: array
          items:
            $ref: '#/components/schemas/UnidadeCompleta'
      xml:
        name: resultadoConsultarEstruturaOrganizacionalFilha
      
    Estrutura:
      type: object
      properties:
        codigoUnidade: 
          type: string
        estrutura:
          type: array
          items: 
            type: object

    NaturezaJuridica:
      typeobject: object
      propobjecterties:
        coobjectdigoNaturezaJuridica: 
          objecttype: integer
        deobjectscricaoNaturezaJuridica: 
          objecttype: string
        atobjectivo: 
          type: string

    Poder:
      type: object
      properties:
        codigoEsfera:
          type: integer 
        descricaoEsfera:
          type: string
        ativo:
          type: string

    Esfera:
      type: object
      properties:
        codigoPoder:
          type: integer 
        descricaoPoder:
          type: string
        ativo:
          type: string

    TipoUnidade:
      type: object
      properties:
        codigoTipoUnidade:
          type: integer 
        descricaoTipoUnidade:
          type: string

    CategoriaUnidade:
      type: object
      properties:
        codigoCategoriaUnidade:
          type: integer 
        descricaoCategoriaUnidade:
          type: string
        ativo:
          type: string

    TipoVersao:
      type: object
      properties:
        versaoAnterior: 
          type: string
        versaoPosterior: 
          type: string
        versaoConsulta: 
          type: string
        dataVersaoAnterior: 
          type: string
        dataVersaoPosterior: 
          type: string
        dataVersaoConsulta: 
          type: string

    ResultadoConsultarOrgaosEntidadesResumida:
      $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalResumida'
      xml:
        name: resultadoConsultarOrgaosEntidadesResumida
        
    ResultadoConsultarOrgaosEntidadesCompleta:
      $ref: '#/components/schemas/ResultadoConsultarEstruturaOrganizacionalCompleta'
      xml:
        name: resultadoConsultarOrgaosEntidadesCompleta

    ResultadoConsultarUnidadeResumida:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        unidade:
          $ref: '#/components/schemas/Unidade'
      xml:
        name: resultadoConsultarUnidadeResumida

    ResultadoConsultarEstruturaUnidadeOrganizacional:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        estrutura:
          $ref: '#/components/schemas/Estrutura'
      xml: 
        name: resultadoConsultarEstruturaUnidadeOrganizacional

    ResultadoConsultarNaturezaJuridica:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        naturezaJuridica:
          $ref: '#/components/schemas/NaturezaJuridica'
      xml:
        name: resultadoConsultarNaturezaJuridica

    ResultadoConsultarSubNaturezaJuridica:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        naturezaJuridica:
          $ref: '#/components/schemas/SubNaturezaJuridica'
      xml:
        name: resultadoConsultarSubNaturezaJuridica

    ResultadoConsultarPoder:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        poder:
          type: array
          items:
            $ref: '#/components/schemas/Poder'     
      xml:
        name: resultadoConsultarPoder

    ResultadoConsultarEsfera:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        esfera:
          type: array
          items:
            $ref: '#/components/schemas/Esfera'                   
      xml:
        name: resultadoConsultarEsfera
    
    ResultadoConsultarTipoUnidade:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        tipoUnidade:
          type: array
          items:
            $ref: '#/components/schemas/TipoUnidade'        
      xml:
        name: resultadoConsultarTipoUnidade

    ResultadoConsultarCategoriaUnidade:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        categoriaUnidade:
          type: array
          items:
            $ref: '#/components/schemas/CategoriaUnidade'    
      xml:
        name: resultadoConsultarCategoriaUnidade

    ResultadoConsultarVersaoUnidade:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        tipoVersao:
          type: array
          items:
            $ref: '#/components/schemas/TipoVersao'      
      xml:
        name: resultadoConsultarVersaoUnidade

    ResultadoConsultarUnidadesAlteradasOrgao:
      type: object
      properties:
        servico:
          $ref: '#/components/schemas/Servico'
        unidades:
          type: array
          items:
            $ref: '#/components/schemas/Unidade' 
      xml:
        name: resultadoConsultarUnidadesAlteradasOrgao